<!DOCTYPE html>
<html>
{%  load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title>Maintenance Server</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'maintenance_messages/css/main.css' %}">
</head>
<body style="margin-top: 10px;">

<div class="panel panel-default col-md-4 col-md-offset-1">
    <div class="panel-body">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if info_message %}<p><strong>{{ info_message }}</strong></p>{% endif %}

    <form action="{% url 'index' %}" method="post">
        <div class="form-group">
            <label for="domain">Domain: </label>
            <input type="text" name="domain" id="domain" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="message">Message: </label>
            <textarea name="message" id="message" rows="6" cols="70" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="start_date">Start date: (YYYY-MM-DD HH:MM)</label>
            <input type="date" name="start_date" id="start_date" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="end_date">End date: (YYYY-MM-DD HH:MM)</label>
            <input type="date" name="end_date" id="end_date" class="form-control"/>
        </div>
        <input type="hidden" name="user" value="{{ user }}"/>
        <div class="form-group">
            <input type="submit" value="create" class="form-control"/>
            <br/>
        </div>
        <a href="/logout/">logout</a><br/>
        <a href="/index/">refresh</a>
    </form>
    </div>
</div>

<div class="panel panel-default col-md-4 col-md-offset-1">
    <div class="panel-body">
        {% for message in messages %}
            <div class="list-group">
            <div class="list-group-item-heading">
                <h4 class="list-group-item-heading">
                    <strong>{{ forloop.counter }}.-</strong> {{ message.domain }}
                </h4>
                <p class="list-group-item-text">
                    Start: {{ message.start_date|date:"H:i d-m-Y" }} <br/>
                    End: {{ message.end_date|date:"H:i d-m-Y"  }}
                    {{}}
                <form action="{% url 'index' %}" method="post">
                    <input type="hidden" name="id_{{ message.id }}" value="{{ message.id }}"/>
                    <label for="delete_{{ message.id }}" class="btn"><i class="glyphicon glyphicon-remove-sign"></i>Remove</label>
                    <input id="delete_{{ message.id }}" type="submit" value="delete_{{ message.id }}" class="hidden"/>
                </form>
                </p>
            </div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>